* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#home {
  width: 100%;
}

#nav {
  height: 10vh;
  width: 100%;
  background-color: white;
}

.nav-header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-left: 15px;
  height: 50px;
}

header {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
    url('./hero-bcg.jpeg');
    transition: 1s;
}

button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.menu-toggle {
  display: block;
}

a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

.banner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 50%;
}

.title {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
  text-align: center;
}

.banner-desc {
  text-align: center;
}

.btn {
  display: flex;
  color: white;
  font-size: 2rem;
  border: 3px solid white;
  padding: 10px 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
}

.section {
  height: 100vh;
}

#services {
  background-color: aliceblue;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background-color: hsl(209, 61%, 16%);
  color: white;
}

.footer-container {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 5px;
  line-height: 1.5;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: 1s;
  background-color: white;
}

.show-links {
  height: 200px;
}

.move-down {
  transform: translateY(200px);
}

.links {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 15px;
}

li {
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 1.2rem;
}

li:hover {
  font-weight: 800;
}

@media screen and (min-width: 800px) {
  .links {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 1.5rem;
  }

  .menu-toggle {
    display: none;
  }

  .links-container {
    height: auto !important;
  }

  .nav-center {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
  }
}
