html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#home {
  width: 100%;
}

#nav {
  display: flex;
  height: 18vh;
  width: 100%;
  background-color: white;
}

.nav-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.logo {
  height: 120px;
  padding-left: 15px;
}

.top-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 82vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
    url('./hero-bcg.jpeg');
}

button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.menu-toggle {
  display: none;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 50%;
}

.title {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
  text-align: center;
}

.banner-desc {
  text-align: center;
}

.btn {
  display: flex;
  color: white;
  font-size: 2rem;
  border: 3px solid white;
  padding: 10px 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
}

.section {
  height: 100vh;
}

#services {
  background-color: aliceblue;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background-color: hsl(209, 61%, 16%);
  color: white;
}

.footer-container {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 5px;
  line-height: 1.5;
}

.links-container {
    height: 0;
    overflow: hidden;
    transition: 1s;
}

@media screen and (max-width: 662px) {
  .links-container {
    height: 0;
    overflow: hidden;
    transition: 1s;
  }

  .show-links {
    height: 200px;
  }

  .menu-toggle {
    display: block;
    order: 2;
  }
}

@media screen and (min-width: 662px) {
    .links-container{
        height: auto;
    }

    .links {
        display: flex;
    }
}